*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.header{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 24pt;
    padding-bottom: .5em;
    padding-top: .5em;
}

.navbar{
    background-color: rgb(110, 108, 108);
    color: honeydew;
    font-size: 20pt;
    font-weight: bold;
    padding-left: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
}

h2{
    text-align: center;
    background-color: darkslategray;
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    justify-content: center;
    background-color: darkslategrey;
    }

.desc{
    display: flex;
    flex-wrap: wrap;
    width: 15em;
}

.movie{
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    background-color: black;
    color: white;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

img{
    width: 15em;
    height: 22em;
}

.info{
    padding-left: 1em;
}

.button{
    margin-top: 11em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.likes{
    padding-left: 1em;
}

button{
    background-color: black;
    color: rgb(235, 112, 163);
    border: none;
    font-size: 12pt;
}


